.Form {
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #F4EEE0;
    font-size: 15px;
    align-items: center;
    padding-top: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.Selector {
    height: 40px;
    font-size: 15px;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.Selector:focus {
    color: aquamarine;
    border-color: red;
    border: none;
}

.Form:focus {
    border-color:red;
    border: 10px;
}

.Form Select:focus {
    border-color:red;
    border: 10px;
}
