.MapContainer {
    display: flex;
    border: 0;
    height: 95%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
}

.Map {
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}

.btn {
    display: block;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    transition-duration: 200ms;
}

.btn:hover {
    background-color: #FAF0E6;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.loader {
    align-self: center;
    flex: 1;
}

.redline {
    color:red;
    width: 30px;
    height: 1px;
    border: 1px solid red;
    margin-top: 7px;
}

.redstop {
    display: flex;
    border-radius: 50%;
    border: 2px solid darkred;
    width: 10px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.blueline {
    color: blue;
    width: 30px;
    height: 1px;
    border: 1px solid rgb(0, 94, 255);
    margin-top: 7px;
}

.bluestop {
    display: flex;
    border-radius: 50%;
    border: 2px solid darkblue;
    width: 10px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.greenline {
    color: lime;
    width: 30px;
    height: 1px;
    border: 1px solid rgb(0, 255, 0);
    margin-top: 7px;
}

.greenstop {
    display: flex;
    border-radius: 50%;
    border: 2px solid #304D30;
    width: 10px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.legend {
    display: flex;
    height: auto;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 200ms;
    justify-content: space-around;
    flex-direction: column;
}

.legendElement {
    display: flex;
    padding: 0 10px;
    text-align: center;
    justify-content: left;
}

.objectname {
    display: block;
    margin-left: 10px;
    font-family: 'Open-sans', sans-serif;
    font-size: 14px;
}