.MapContainer {
    display: block;
    border: 0;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
}

.Map {
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}

.btn {
    display: block;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    transition-duration: 200ms;
}

.btn:hover {
    background-color: #FAF0E6;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}