.MapContainer {
    display: flex;
    border: 0;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
}

.Map {
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}

.btn {
    display: block;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    transition-duration: 200ms;
}

.btn:hover {
    background-color: #FAF0E6;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.loader {
    align-self: center;
    flex: 1;
}