.form {
    align-items: center;
    margin: 10px auto 30px;
    border: none;
    height: auto;
    border-radius: 5%;
    vertical-align: middle;
}

.form input{
    height: 40px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 5px;
    transition: border-color 0.4s ease;
    border: 1px solid transparent;
    border-color: none;
}

.form input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-color: #8a2be2;
}

.btn {
    height: 40px;
    border-radius: 5px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    transition-duration: 200ms;
}

.btn:hover {
    background-color: #FAF0E6;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

